@model List<Grovity.Entities.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var category in Model)
{
    <h1>@category.Name</h1>
}

